# SPDX-License-Identifier: Apache-2.0

config EXAMPLES_COMPUKTER_BENCH
	tristate "Compukter saturated CPU benchmark command"
	default n

if EXAMPLES_COMPUKTER_BENCH

config EXAMPLES_COMPUKTER_BENCH_PROGNAME
	string "Program name"
	default "bench"

config EXAMPLES_COMPUKTER_BENCH_PRIORITY
	int "Task priority"
	default 100

config EXAMPLES_COMPUKTER_BENCH_STACKSIZE
	int "Task stack size"
	default 1024

endif
