CONFIG_ARCH="risc-v"
CONFIG_ARCH_BOARD="compukter-vm"
CONFIG_ARCH_BOARD_COMPUKTER_VM=y
CONFIG_ARCH_CHIP="compukter"
CONFIG_ARCH_CHIP_COMPUKTER=y
CONFIG_ARCH_RISCV=y
CONFIG_BUILTIN=y
CONFIG_INIT_ENTRYPOINT="nsh_main"
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_SYSTEM_NSH=y
